header {
    background-color: cyan;
}

.column-1 {
    background-color: yellow;
    display: table-cell;
    /* float: left; */
    position: relative;
    width: 50%;
    overflow: hidden;
}

.column-2 {
    background-color: orange;
    display: table-cell;
    position: relative;
    width: 50%;
    overflow: hidden;
}

footer {
    background-color: red;
    float: left;
    position: relative;
    width: 100%;
}