body {
    background-color: #DCDCDC;
    margin: 2% 2% 2% 2%;
}

header {
    background-color: #99CCFF;
    padding: 1%;
}

h1 {
    text-align: center;
    font-size: 3em;
}

header p {
    font-size: 1.5em;
}

section {
    height: 1000px; 
    width: 47%;
    padding:1.5%;
}

.column-1 {
    background-color: #FFFB05;
    float: left;  
}

.column-2 {
    background-color: #FF584A;
    float: right;  
}

footer {
    background-color: pink;
    clear: both;
    padding: 1em;
}
    