
body {
    background-color:#fffffff;
    color: #000080;
}
header {
    font-weight:bold;
    font-size:1em;
    text-align: center;
    border-bottom:0.3em solid gray;
    margin-bottom:0.2em;
    line-height:0.5em;
}

header p span {
    font-size: 2em; 
}
 
.address {
    font-size:0.8em;
    line-height:0.2em;
}


 a:link {
   color:#800080;
}

 a:visited {
   color: #ff0000;
}

li p {
    font-size:10px;
}

nav {
    border-bottom:1px solid gray;
    margin-bottom:10px;
}
aside {
    text-align:center;
    font-size:10px;
    border-bottom:1px solid gray;
    margin-bottom:10px;
}

section {
    border-bottom:1px solid gray;
    margin-bottom:10px;
}


/*   
What is important to know when linking an external file (like a stylesheet) to an html file? 
It is important to include a <link> tag in the <head> section of the html file, and include int he <lnk> tag: 
"rel" attribute to specify the external file, such as stylesheet for css files; indicate the correct link to 
the external file; "type" to indicate the mediat type, text/css, and "href" link to indicate a path to the external file.

What tricks did you use to help with positioning? How hard was it to get the site as you wanted it?
One of the biggest problem was to align the list of links properly. After many failed attempts to tinger with margins 
and spacing a variety of ways, we ended up going back to the html file and putting the information in a table format. ur goal
was to replicate the site as closely to the original version as possible. It was not easy. Often, it seemed as if
we were grasping for a solution by looking for any random method and that there probably are structured
and simpler ways to achieve the effects we wanted, were we more familiar with css.

What CSS did you use to modify the element style (like size,  color, etc.)
For color, we started with basic primary colors, then selected more specific tones using the color palette. For sizing, 
we started with pisels, then experiemented a little bit with ems.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would 
you know which one to add to your HTML? We experimented with using class for the header section, that required 
various font sizes. For the company name, which required larger font for the initial letters, we used <span> to distinguish
them, and for the address we create a clsss to set off the siize and line-spacing from the company name.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
The original page had cleaner code that folowed the best practices. The codes indicate that the page was constructed using
htmml, incluing formatting and styling. This makes sense and is practical because the site is very basic and the styling is 
simple enough that it doesn't require having an external stylesheet. 





*/